<nav class="site-nav">
    <ul class="nav-menu">
        <li class="nav-item"><a href="{{ '/' | relative_url }}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{ '/about' | relative_url }}" class="nav-link">About</a></li>
        <li class="nav-item"><a href="{{ '/services' | relative_url }}" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="{{ '/portfolio' | relative_url }}" class="nav-link">Portfolio</a></li>
        <li class="nav-item"><a href="{{ '/contact' | relative_url }}" class="nav-link">Contact</a></li>
    </ul>
</nav>
